.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-top: 36px;
}

.form-input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

.form-input::placeholder {
  color: #808080;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Montserrat', sans-serif;
}
.form-input:hover {
  border: 1px solid #000;
}
.form-input:focus {
  border: 1px solid #4e75ff;
}

.button {
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Montserrat', sans-serif;
}
.button:hover {
  background-color: #6c8cff;
}
